---
layout: base.njk
---
<main class="mx-auto max-w-3xl px-4 sm:px-8">
    <div class="mb-4"><a href="/#publications" class="cactus-link">&larr; Back to Blog</a></div>
    <article class="prose">
        {{ content | safe }}
    </article>
</main>
